<a href="https://colab.research.google.com/github/manikantavamsi659/data-analytics/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('/content/ecommerce_product_dataset.csv')

In [ ]:
data

,ProductID,ProductName,Category,Price,Rating,NumReviews,StockQuantity,Discount,Sales,DateAdded,City
0,1,Headphones,Electronics,400.31,1.7,3772,20,0.08,466,2023-11-10,Albuquerque
1,2,Headphones,Electronics,235.03,2.3,2919,663,0.33,1332,2023-09-28,Queens
2,3,Smartwatch,Electronics,417.90,1.8,1184,459,0.31,252,2023-10-20,Austin
3,4,Smartphone,Electronics,152.70,3.4,2047,475,0.49,1806,2023-12-05,Dallas
4,5,Laptop,Electronics,394.74,1.8,1267,831,0.23,1508,2023-08-10,Tucson
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Throw Blanket,Blankets,207.72,2.3,1973,16,0.46,325,2024-02-13,Baton Rouge
996,997,Fleece Blanket,Blankets,268.60,3.2,841,201,0.39,1546,2023-07-01,Worcester
997,998,Throw Blanket,Blankets,92.74,2.8,3454,880,0.02,1295,2023-10-29,Raleigh
998,999,Weighted Blanket,Blankets,152.28,1.3,2850,752,0.34,1962,2023-10-28,Nashville
999,1000,Throw Blanket,Blankets,136.53,2.0,4055,282,0.38,1089,2024-01-27,San Francisco

In [ ]:
data.head()

,ProductID,ProductName,Category,Price,Rating,NumReviews,StockQuantity,Discount,Sales,DateAdded,City
0,1,Headphones,Electronics,400.31,1.7,3772,20,0.08,466,2023-11-10,Albuquerque
1,2,Headphones,Electronics,235.03,2.3,2919,663,0.33,1332,2023-09-28,Queens
2,3,Smartwatch,Electronics,417.90,1.8,1184,459,0.31,252,2023-10-20,Austin
3,4,Smartphone,Electronics,152.70,3.4,2047,475,0.49,1806,2023-12-05,Dallas
4,5,Laptop,Electronics,394.74,1.8,1267,831,0.23,1508,2023-08-10,Tucson

In [ ]:
data.tail()

,ProductID,ProductName,Category,Price,Rating,NumReviews,StockQuantity,Discount,Sales,DateAdded,City
995,996,Throw Blanket,Blankets,207.72,2.3,1973,16,0.46,325,2024-02-13,Baton Rouge
996,997,Fleece Blanket,Blankets,268.60,3.2,841,201,0.39,1546,2023-07-01,Worcester
997,998,Throw Blanket,Blankets,92.74,2.8,3454,880,0.02,1295,2023-10-29,Raleigh
998,999,Weighted Blanket,Blankets,152.28,1.3,2850,752,0.34,1962,2023-10-28,Nashville
999,1000,Throw Blanket,Blankets,136.53,2.0,4055,282,0.38,1089,2024-01-27,San Francisco

In [ ]:
data.size

11000

In [ ]:
data.shape

(1000, 11)

In [8]:
data.duplicated().sum()

0

In [ ]:
data.isnull().sum()

ProductID        0
ProductName      0
Category         0
Price            0
Rating           0
NumReviews       0
StockQuantity    0
Discount         0
Sales            0
DateAdded        0
City             0
dtype: int64

column names, data-types and descriptive statistics

In [ ]:
data.columns

Index(['ProductID', 'ProductName', 'Category', 'Price', 'Rating', 'NumReviews',
       'StockQuantity', 'Discount', 'Sales', 'DateAdded', 'City'],
      dtype='object')

In [ ]:
data.dtypes

ProductID          int64
ProductName       object
Category          object
Price            float64
Rating           float64
NumReviews         int64
StockQuantity      int64
Discount         float64
Sales              int64
DateAdded         object
City              object
dtype: object

In [7]:
print("\nDescriptive statistics:")
print( data.describe())

Descriptive statistics:
         ProductID       Price       Rating   NumReviews  StockQuantity  \
count  1000.000000  1000.00000  1000.000000  1000.000000    1000.000000
mean    500.500000   253.77551     3.025600  2498.753000     495.395000
std     288.819436   141.40362     1.151004  1463.241871     292.799253
min       1.000000    10.11000     1.000000     3.000000       0.000000
25%     250.750000   133.09250     2.100000  1201.750000     241.750000
50%     500.500000   251.31000     3.100000  2476.000000     505.000000
75%     750.250000   375.82750     4.000000  3797.500000     743.500000
max    1000.000000   499.74000     5.000000  4994.000000     993.000000

          Discount        Sales
count  1000.000000  1000.000000
mean      0.251640  1011.037000
std       0.146455   582.113466
min       0.000000     0.000000
25%       0.130000   502.000000
50%       0.250000   998.000000
75%       0.380000  1540.000000
max       0.500000  1997.000000

In [12]:
# prompt: Summarize the distribution of review sentiments (target variable).

import pandas as pd
import numpy as np

data=pd.read_csv('/content/ecommerce_product_dataset.csv')

# Check if the column name exists in the DataFrame
if 'review_sentiment' in data.columns:
    # Assuming 'review_sentiment' is the column containing the sentiment labels
    sentiment_counts = data['review_sentiment'].value_counts()
    print("\nDistribution of Review Sentiments:\n", sentiment_counts)

    # Optional: Calculate percentages for better understanding
    sentiment_percentages = sentiment_counts / len(data) * 100
    print("\nPercentage Distribution of Review Sentiments:\n", sentiment_percentages)
else:
    print("Error: 'review_sentiment' column not found in the DataFrame.")
    # You can print the available columns to identify the correct column name:
    print("Available columns:", data.columns)

Error: 'review_sentiment' column not found in the DataFrame.
Available columns: Index(['ProductID', 'ProductName', 'Category', 'Price', 'Rating', 'NumReviews',
       'StockQuantity', 'Discount', 'Sales', 'DateAdded', 'City'],
      dtype='object')

In [13]:
# prompt: Overview of the dataset.

# Displaying the first few rows of the DataFrame
print(data.head(10)) # Increased the number of rows to 10

# Displaying the last few rows of the DataFrame
print(data.tail(10)) # Increased the number of rows to 10

# Information about the DataFrame including data types and non-null values
print(data.info())

# Summary statistics for numerical columns
print(data.describe(include='all')) # Include all columns for descriptive statistics

# Checking for missing values in each column
print(data.isnull().sum())

# Checking for duplicated rows
print(f"Number of duplicate rows: {data.duplicated().sum()}")

   ProductID ProductName     Category   Price  Rating  NumReviews  \
0          1  Headphones  Electronics  400.31     1.7        3772
1          2  Headphones  Electronics  235.03     2.3        2919
2          3  Smartwatch  Electronics  417.90     1.8        1184
3          4  Smartphone  Electronics  152.70     3.4        2047
4          5      Laptop  Electronics  394.74     1.8        1267
5          6  Headphones  Electronics   93.56     1.3        2435
6          7      Laptop  Electronics   57.86     3.7        1478
7          8      Laptop  Electronics  201.62     1.7        3073
8          9  Smartphone  Electronics  485.10     4.1         161
9         10  Smartwatch  Electronics  170.00     3.3        1275

   StockQuantity  Discount  Sales   DateAdded         City
0             20      0.08    466  2023-11-10  Albuquerque
1            663      0.33   1332  2023-09-28       Queens
2            459      0.31    252  2023-10-20       Austin
3            475      0.49   1806  2023-12-05       Dallas
4            831      0.23   1508  2023-08-10       Tucson
5            600      0.48    241  2023-09-21   Louisville
6            427      0.25   1966  2024-05-08    Cleveland
7            389      0.10   1795  2023-08-07      Houston
8            201      0.45    269  2023-06-27   Cape Coral
9            701      0.16    719  2023-10-19  Minneapolis
     ProductID       ProductName  Category   Price  Rating  NumReviews  \
990        991     Throw Blanket  Blankets   48.75     2.8        2737
991        992     Throw Blanket  Blankets   57.35     2.1        4264
992        993  Electric Blanket  Blankets  214.76     1.2         527
993        994    Fleece Blanket  Blankets   61.84     3.0        1176
994        995  Weighted Blanket  Blankets  269.34     3.3        2513
995        996     Throw Blanket  Blankets  207.72     2.3        1973
996        997    Fleece Blanket  Blankets  268.60     3.2         841
997        998     Throw Blanket  Blankets   92.74     2.8        3454
998        999  Weighted Blanket  Blankets  152.28     1.3        2850
999       1000     Throw Blanket  Blankets  136.53     2.0        4055

     StockQuantity  Discount  Sales   DateAdded           City
990            588      0.48    991  2024-05-28          Ogden
991            329      0.44   1328  2024-01-18       Richmond
992            226      0.08   1564  2024-01-13          Akron
993            788      0.47     56  2023-12-09     Long Beach
994            662      0.17    800  2023-10-25    San Antonio
995             16      0.46    325  2024-02-13    Baton Rouge
996            201      0.39   1546  2023-07-01      Worcester
997            880      0.02   1295  2023-10-29        Raleigh
998            752      0.34   1962  2023-10-28      Nashville
999            282      0.38   1089  2024-01-27  San Francisco
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductID      1000 non-null   int64
 1   ProductName    1000 non-null   object
 2   Category       1000 non-null   object
 3   Price          1000 non-null   float64
 4   Rating         1000 non-null   float64
 5   NumReviews     1000 non-null   int64
 6   StockQuantity  1000 non-null   int64
 7   Discount       1000 non-null   float64
 8   Sales          1000 non-null   int64
 9   DateAdded      1000 non-null   object
 10  City           1000 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 86.1+ KB
None
          ProductID ProductName     Category       Price       Rating  \
count   1000.000000        1000         1000  1000.00000  1000.000000
unique          NaN         100           25         NaN          NaN
top             NaN   Biography  Electronics         NaN          NaN
freq            NaN          22           40         NaN          NaN
mean     500.500000         NaN          NaN   253.77551     3.025600
std      288.819436         NaN          NaN   141.40362     1.151004
min        1.000000         NaN          NaN    10.11000     1.000000
25%      250.750000         NaN          NaN   133.09250     2.100000
50%      500.500000         NaN          NaN   251.31000     3.100000
75%      750.250000         NaN          NaN   375.82750     4.000000
max     1000.000000         NaN          NaN   499.74000     5.000000

         NumReviews  StockQuantity     Discount        Sales   DateAdded  \
count   1000.000000    1000.000000  1000.000000  1000.000000        1000
unique          NaN            NaN          NaN          NaN         346
top             NaN            NaN          NaN          NaN  2023-11-11
freq            NaN            NaN          NaN          NaN           7
mean    2498.753000     495.395000     0.251640  1011.037000         NaN
std     1463.241871     292.799253     0.146455   582.113466         NaN
min        3.000000       0.000000     0.000000     0.000000         NaN
25%     1201.750000     241.750000     0.130000   502.000000         NaN
50%     2476.000000     505.000000     0.250000   998.000000         NaN
75%     3797.500000     743.500000     0.380000  1540.000000         NaN
max     4994.000000     993.000000     0.500000  1997.000000         NaN

            City
count       1000
unique       101
top     New York
freq          17
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN
ProductID        0
ProductName      0
Category         0
Price            0
Rating           0
NumReviews       0
StockQuantity    0
Discount         0
Sales            0
DateAdded        0
City             0
dtype: int64
Number of duplicate rows: 0

In [14]:
# prompt: Insights on missing values, duplicates, and sentiment distribution.

import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('/content/ecommerce_product_dataset.csv')

# Display basic info
print(data.info())

# Missing values analysis
missing_values = data.isnull().sum()
print("\nMissing Values:\n", missing_values)

# Percentage of missing values
missing_percentage = (missing_values / len(data)) * 100
print("\nPercentage of Missing Values:\n", missing_percentage)


# Duplicate rows analysis
duplicate_rows = data.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_rows}")

# Remove duplicates (optional, uncomment if needed)
# data.drop_duplicates(inplace=True)

# Sentiment analysis (if 'review_sentiment' column exists)
if 'review_sentiment' in data.columns:
    sentiment_counts = data['review_sentiment'].value_counts()
    print("\nDistribution of Review Sentiments:\n", sentiment_counts)

    sentiment_percentages = (sentiment_counts / sentiment_counts.sum()) * 100  # Calculate percentages
    print("\nPercentage Distribution of Review Sentiments:\n", sentiment_percentages)
else:
    print("\n'review_sentiment' column not found.")

# Example: Handling missing values (replace with your preferred method)
# For numerical columns, you might impute with the mean or median
# For categorical columns, you might impute with the mode or a new category

# Example: Imputing missing values in 'product_price' with the mean (if applicable)
# if 'product_price' in data.columns and pd.api.types.is_numeric_dtype(data['product_price']):
#     data['product_price'].fillna(data['product_price'].mean(), inplace=True)


# Additional insights (customize as needed)
# 1. Explore the relationship between features and sentiment
# 2. Visualize the distribution of key features
# 3. Analyze the most frequent product categories, brands, etc.
# 4. Explore time-series data if applicable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductID      1000 non-null   int64
 1   ProductName    1000 non-null   object
 2   Category       1000 non-null   object
 3   Price          1000 non-null   float64
 4   Rating         1000 non-null   float64
 5   NumReviews     1000 non-null   int64
 6   StockQuantity  1000 non-null   int64
 7   Discount       1000 non-null   float64
 8   Sales          1000 non-null   int64
 9   DateAdded      1000 non-null   object
 10  City           1000 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 86.1+ KB
None

Missing Values:
 ProductID        0
ProductName      0
Category         0
Price            0
Rating           0
NumReviews       0
StockQuantity    0
Discount         0
Sales            0
DateAdded        0
City             0
dtype: int64

Percentage of Missing Values:
 ProductID        0.0
ProductName      0.0
Category         0.0
Price            0.0
Rating           0.0
NumReviews       0.0
StockQuantity    0.0
Discount         0.0
Sales            0.0
DateAdded        0.0
City             0.0
dtype: float64

Number of duplicate rows: 0

'review_sentiment' column not found.

In [15]:
# prompt: Handle missing values:
# o Impute numerical columns with mean or median.
# o Drop rows with missing review text.

# Assuming 'data' DataFrame is already loaded as in the provided code

# Impute numerical columns with the median
numerical_cols = data.select_dtypes(include=np.number).columns
for col in numerical_cols:
    data[col].fillna(data[col].median(), inplace=True)

# Drop rows with missing review text
if 'review_text' in data.columns:
    data.dropna(subset=['review_text'], inplace=True)
else:
    print("'review_text' column not found. No rows dropped.")

# Display info after handling missing values
print(data.info())

'review_text' column not found. No rows dropped.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductID      1000 non-null   int64
 1   ProductName    1000 non-null   object
 2   Category       1000 non-null   object
 3   Price          1000 non-null   float64
 4   Rating         1000 non-null   float64
 5   NumReviews     1000 non-null   int64
 6   StockQuantity  1000 non-null   int64
 7   Discount       1000 non-null   float64
 8   Sales          1000 non-null   int64
 9   DateAdded      1000 non-null   object
 10  City           1000 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 86.1+ KB
None

<ipython-input-15-23fb64770cdc>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].median(), inplace=True)

In [16]:
# prompt: Remove duplicate rows, if any.

# Remove duplicate rows
data.drop_duplicates(inplace=True)

# Verify if duplicates are removed
print(f"Number of duplicate rows after removal: {data.duplicated().sum()}")

Number of duplicate rows after removal: 0

In [20]:
# prompt: Text preprocessing:
# o Remove stopwords, punctuation, and numbers.
# o Convert text to lowercase.

import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string

# Download necessary NLTK resources (only needs to be done once)
nltk.download('stopwords')
nltk.download('punkt')

def preprocess_text(text):
    # Lowercase
    text = text.lower()

    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))

    # Remove numbers
    text = ''.join([char for char in text if not char.isdigit()])

    # Tokenize the text
    tokens = nltk.word_tokenize(text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Rejoin the tokens
    processed_text = ' '.join(tokens)

    return processed_text

# Assuming 'data' DataFrame and 'review_text' column exist
if 'review_text' in data.columns:
    data['processed_review_text'] = data['review_text'].astype(str).apply(preprocess_text)
    print(data[['review_text', 'processed_review_text']].head()) # Display the results
else:
    print("'review_text' column not found in the DataFrame.")

'review_text' column not found in the DataFrame.

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [21]:
# prompt: Cleaned dataset with preprocessed review text.

# Assuming 'data' DataFrame and 'processed_review_text' column exist from the previous code
if 'processed_review_text' in data.columns:
    # Now you can work with the cleaned 'processed_review_text' column
    print(data['processed_review_text'].head())  # Example: print the first few cleaned reviews

    # Example: Count the words in each processed review
    data['word_count'] = data['processed_review_text'].apply(lambda x: len(x.split()))
    print(data[['processed_review_text', 'word_count']].head())
else:
    print("'processed_review_text' column not found. Please run the preprocessing steps first.")

'processed_review_text' column not found. Please run the preprocessing steps first.

In [22]:
# prompt: Plot the distribution of review lengths.

import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'data' DataFrame and 'word_count' column exist
if 'word_count' in data.columns:
    plt.figure(figsize=(10, 6))
    sns.histplot(data['word_count'], bins=30, kde=True)
    plt.title('Distribution of Review Lengths (Word Count)')
    plt.xlabel('Word Count')
    plt.ylabel('Frequency')
    plt.show()
else:
    print("'word_count' column not found. Please calculate the word count first.")

'word_count' column not found. Please calculate the word count first.

In [23]:
# prompt: Create a word cloud for each sentiment category.

# Install wordcloud library
!pip install wordcloud

from wordcloud import WordCloud
import matplotlib.pyplot as plt

# Assuming 'data' DataFrame and 'processed_review_text' and 'review_sentiment' columns exist
if 'processed_review_text' in data.columns and 'review_sentiment' in data.columns:
    sentiment_categories = data['review_sentiment'].unique()

    for category in sentiment_categories:
        text = ' '.join(data[data['review_sentiment'] == category]['processed_review_text'].astype(str))
        wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)

        plt.figure(figsize=(10, 5))
        plt.imshow(wordcloud, interpolation='bilinear')
        plt.axis("off")
        plt.title(f"Word Cloud for Sentiment: {category}")
        plt.show()
else:
    print("'processed_review_text' or 'review_sentiment' column not found.")

Requirement already satisfied: wordcloud in /usr/local/lib/python3.11/dist-packages (1.9.4)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.11/dist-packages (from wordcloud) (1.26.4)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from wordcloud) (11.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from wordcloud) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (4.55.7)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.17.0)
'processed_review_text' or 'review_sentiment' column not found.